sct-commons/src/main/resources/xsd/CB_COMM_V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: 2024 RTE FRANCE
SPDX-License-Identifier: Apache-2.0
-->
<xs:schema xmlns="http://www.rte-france.com/dacomm"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.rte-france.com/dacomm" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">

	<xs:element name="DACOMM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="History" />
				<xs:element ref="Version" />
				<xs:element ref="FCDAs" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="History" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hitem" type="tHitem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="tHitem" mixed="true">
		<xs:attribute name="Version" type="xs:normalizedString" use="required"/>
		<xs:attribute name="When" type="xs:normalizedString" use="required"/>
		<xs:attribute name="Who" type="xs:normalizedString"/>
		<xs:attribute name="What" type="xs:normalizedString"/>
	</xs:complexType>

	<xs:element name="Version" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SystemVersion" type="tSystemVersion" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="tSystemVersion" mixed="true">
		<xs:attribute name="MainSystemVersion" type="xs:normalizedString" use="required"/>
	</xs:complexType>

	<xs:element name="FCDAs" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FCDA" type="tFCDA" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="tFCDA">
		<xs:attribute name="lnClass" type="xs:string" use="required"/>
		<xs:attribute name="doName" type="xs:string" use="required"/>
		<xs:attribute name="daName" type="xs:string" use="required"/>
		<xs:attribute name="fc" type="tfc" use="required"/>
        <xs:attribute name="gooseType" type="tgooseType" use="required"/>
	</xs:complexType>

	<xs:simpleType name="tfc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ST"/>
			<xs:enumeration value="MX"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="tgooseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GS"/>
            <xs:enumeration value="GM"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>